a.exe
.vscode
old.txt
main.o 
game.o 
textObserver.o 
bishop.o 
board.o 
king.o 
knight.o 
move.o 
observer.o 
pawn.o 
piece.o 
player.o 
queen.o 
rook.o 
subject.o 
tile.o 
sdl_wrap.o
main.d 
game.d
textObserver.d
bishop.d
board.d
king.d
knight.d
move.d
observer.d
pawn.d
piece.d
player.d
queen.d
rook.d
subject.d
tile.d
sdl_wrap.d 